$primaryColor: #14B8A6 !default;
$primaryLightColor: #8adcd3 !default;
$primaryLighterColor: rgba($primaryLightColor,.1);
$primaryDarkColor: #0D9488 !default;
$primaryDarkerColor: #0F766E !default;
$primaryTextColor: #ffffff !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;
@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';