.layout-dark-menu {
    --menu-bg:#343D4A;
    --root-menuitem-text-color:#E9E9E9;
    --menuitem-icon-color:rgba(233, 233, 233, .8);
    --menuitem-text-color:rgba(233, 233, 233, .8);
    --submenu-item-hover-bg-color:var(--surface-hover);

    --popup-submenu-item-hover-bg-color: var(--surface-hover);
    --menuShadow: 0 5px 12px 6px #00000017;


}