$primaryColor: #69B7FF !default;
$primaryLightColor: rgba($primaryColor,.5) !default;
$primaryLighterColor: rgba($primaryLightColor,.1);
$primaryDarkColor: #5297FF !default;
$primaryDarkerColor: #297FFF !default;
$primaryTextColor: #FFFFFF !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';