$primaryLightColor: #d7e291;
$primaryColor:#AEC523;
$primaryDarkColor: #8A9D16;
$primaryDarkerColor: #7D8E12;
$primaryTextColor: #293241;
$primaryLighterColor: rgba($primaryLightColor,.1);

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';