

@media print {
  .page-a4 {
    page-break-inside: avoid; /* Empêche la coupure des pages */
    page-break-after: avoid;
  }
  @media print {
    .no-print {
        display: none !important;
    }
}


  body {
    margin: 0; /* Supprime les marges par défaut du corps */
    padding: 0;
  }

  #pageA1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
