
// /* Impression */
@media print {
  body {
    margin: 0;
    padding: 0;
    font-size: 12px; 
  }

  .no-print {
    display: none;
  }
  .containerr{
    gap: 1px; /* Espace entre les éléments (optionnel) */
  }
  }

.CompanyName {

  border: 2px solid #000; /* Bordure du cadre */
  padding: 10px; /* Espacement interne */
  border-radius: 8px; /* Coins arrondis (facultatif) */
  background-color: #f9f9f9; /* Couleur de fond (facultatif) */
  margin: 5px auto;
  left:2px;
}

.container-big {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: 0 10px; /* Ajuster les marges */
  padding: 10px; /* Ajuster le padding */
}

.examplee-box{
  content: '';
  position: absolute;
  
  width: 30%; /* Moitié du cadre */
  height: 18%;
  border: 2px solid #000;
  border-radius: 8px 8px 8px 8px; /* Coins arrondis du cadre */
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

@media print {
  .no-print {
      display: none;
  }
}

.drag-item {
  padding: 4px;
  margin-bottom: 4px;
  cursor: move;
}

