$primaryLightColor: #ffcdbd !default;
$primaryColor:#FF9B7B !default;
$primaryDarkColor: #FF6E49 !default;
$primaryDarkerColor: #EA2B1F !default;
$primaryTextColor: #3E4754 !default;
$primaryLighterColor: rgba($primaryLightColor,.1) !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';