$primaryColor: #777BF1 !default;
$primaryLightColor: rgba($primaryColor,.5) !default;
$primaryLighterColor: rgba($primaryLightColor,.1);
$primaryDarkColor: #464DF2 !default;
$primaryDarkerColor: #221ED9 !default;
$primaryTextColor: #FFFFFF !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';