$primaryColor:#6EC180 !default;
$primaryLightColor: rgba($primaryColor,.5) !default;
$primaryDarkColor: #34B56F !default;
$primaryDarkerColor: #157943 !default;
$primaryTextColor: #FFFFFF !default;
$primaryLighterColor: rgba($primaryLightColor,.1)!default;
$primaryTextColor: #ffffff !default;

$highlightBg:rgba(94, 234, 212, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';