.layout-sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 16rem;
    background: var(--menu-bg);
    border-right: var(--sidebar-border);
    box-shadow: var(--sidebar-shadow);
    display: flex;
    flex-direction: column;

    .app-logo {
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .app-logo-normal {
            display: inline;
        }

        .app-logo-single {
            display: none;
        }
    }

    .layout-menu-container {
        overflow: auto;
        flex: 1;
        padding-bottom: 2rem;
    }

    .layout-menu {
        margin: 0;
        padding: 0;
        list-style-type: none;

        .layout-root-menuitem {
            >.layout-menuitem-root-text {
                font-size: .857rem;
                text-transform: uppercase;
                font-weight: 700;
                color: var(--root-menuitem-text-color);
                padding: 1rem 2rem;
            }

            >a {
                display: none;
            }
        }

        a {
            user-select: none;

            &.active-menuitem {
                >.layout-submenu-toggler {
                    transform: rotate(-180deg);
                }
            }
        }

        li.active-menuitem {
            >a {
                .layout-submenu-toggler {
                    transform: rotate(-180deg);
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            a {
                display: flex;
                align-items: center;
                position: relative;
                outline: 0 none;
                color: var(--menuitem-text-color);
                cursor: pointer;
                padding: .75rem 2rem;
                transition: all var(--transition-duration);
                font-weight: 500;

                .layout-menuitem-icon {
                    margin-right: .5rem;
                    color: var(--menuitem-icon-color);
                }

                .layout-submenu-toggler {
                    font-size: 75%;
                    margin-left: auto;
                    transition: transform var(--transition-duration);
                }

                &.active-route {
                    color: var(--primary-color);

                    i {
                        color: var(--primary-color);
                    }
                }

                &:hover {
                    background-color: var(--menuitem-hover-bg-color);

                    i {
                        color: var(--primary-600);
                    }

                    color: var(--primary-600);
                }
            }

            ul {
                overflow: hidden;
                border-radius: var(--border-radius);

                li {
                    a {
                        padding-left: 2.5rem;
                    }

                    li {
                        a {
                            padding-left: 3rem;
                        }

                        li {
                            a {
                                padding-left: 3.5rem;
                            }

                            li {
                                a {
                                    padding-left: 4rem;
                                }

                                li {
                                    a {
                                        padding-left: 5.5rem;
                                    }

                                    li {
                                        a {
                                            padding-left: 5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-container {
    &.layout-nested-menu{

        &.layout-reveal{
            .layout-menu {
                .layout-root-menuitem {
                    > a {
                        .layout-menuitem-text {
                            order: 1;
                            margin-right: auto;
                        }

                        .layout-submenu-toggler {
                            order: 2;
                            display: none;
                            margin-right: 0.5rem;
                        }

                        .layout-menuitem-icon {
                            order: 3;
                            margin-right: 0;
                            font-size: 1.25rem;
                            width: auto;
                        }
                    }
                }
            }
        }
        .layout-menu {
            ul {
                display: none;
            }
            .layout-root-menuitem {
                position: relative;
                border-radius: var(--border-radius);

                > .layout-menuitem-root-text {
                    display: none;
                }

                > a {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    border-radius: 0;
                    cursor: pointer;
                    outline: none;
                    color: var(--menuitem-text-color);
                    transition: background-color var(--transition-duration);

                    .layout-submenu-toggler {
                        display: block;
                        margin-left: auto;
                        transition: transform 0.2s;
                    }

                    .layout-menuitem-icon {
                        font-size: 1.25rem;
                        color: var(--menuitem-icon-color);
                    }

                    .layout-menuitem-text {
                        font-size: 1rem;
                        display: block;
                        margin-left: .75rem;
                        margin-right: .75rem;
                        white-space: nowrap;
                    }

                    &:hover {
                        background-color: var(--menuitem-hover-bg-color);
                    }
                }

                > ul {
                    left: 0;
                    top: 3rem;
                    min-width: 15rem;
                    padding: 0 1rem 1rem;
                    overflow: auto;
                    z-index: 999;

                    a {
                        padding-right: .5rem;
                        color: var(--popup-submenu-item-text-color);
                        border-radius: var(--border-radius);

                        .layout-menuitem-icon {
                            font-size: 1.25rem;
                            color: var(--popup-submenu-item-icon-color);
                        }

                        &:hover {
                            background-color: var(--popup-submenu-item-hover-bg-color);
                        }
                    }

                    // li {
                    //     a {
                    //         padding-left: 0.5rem;
                    //     }
        
                    //     li {
                    //         a {
                    //             padding-left: 1rem;
                    //         }
        
                    //         li {
                    //             a {
                    //                 padding-left: 1.5rem;
                    //             }
        
                    //             li {
                    //                 a {
                    //                     padding-left: 2rem;
                    //                 }
        
                    //                 li {
                    //                     a {
                    //                         padding-left: 2.5rem;
                    //                     }
        
                    //                     li {
                    //                         a {
                    //                             padding-left: 3rem;
                    //                         }
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //     }
                    // }
                }
            }
        }
    }
}