.layout-light-topbar {
    --topbarBgColor: #ffffff;
    --topbarBorderColor: #d8dadc;
    --topbarBoxShadow:0 10px 40px 0 rgba(#293241,0.06);

    --topbarItemTextColor: #293241;
    --topbarItemSecondaryTextColor:lighthen(--primary-color, 10%);
    --topbarItemTextHoverBgColor:#E8EDF0;

}
