.layout-dark-topbar {
    --topbarBgColor: #343D4A;
    --topbarBorderColor: #4D4D4D;
    --topbarBoxShadow: none;

    --topbarItemTextColor: #E9E9E9;
    --topbarItemSecondaryTextColor: lighten(--primary-color, 20%);
    --topbarItemTextHoverBgColor: lighten(--topbarBgColor, 5%);
}