.layout-dark-topbar {
    --topbarBgColor: #343D4A;
    --topbarBorderColor: #4D4D4D;
    --topbarBoxShadow: none;

    --topbarItemTextColor: #E9E9E9;
    --topbarItemSecondaryTextColor: lighten(--primary-color, 20%);
    --topbarItemTextHoverBgColor: lighten(--topbarBgColor, 5%);
    --topbarItemBgColor: lighten(--topbarBgColor, 5%);
    --topbarItemBorderColor: lighten(--topbarBgColor, 5%);

    --topbarItemSubmenuItemHoverBgColor: var(--primary-lighter-color);

    --topbarItemSubmenuBgColor: lighten(--topbarBgColor, 5%);
    --topbarItemSubmenuTextColor: #E9E9E9 ;
    --topbarItemSubmenuSecondaryTextColor: #C2C2C2 ;
    --topbarItemSubmenuBoxShadow: 0 2px 8px 0 rgba(25, 26, 28, 0.12);


}