.layout-light-topbar {
    --topbarBgColor: #ffffff;
    --topbarBorderColor: #d8dadc;
    --topbarBoxShadow:0 10px 40px 0 rgba(#293241,0.06);

    --topbarItemTextColor: #293241;
    --topbarItemSecondaryTextColor:lighthen(--primary-color, 10%);
    --topbarItemTextHoverBgColor:#E8EDF0;
    --topbarItemBgColor:#f8fafc;
    --topbarItemBorderColor:#ebedef;

    --topbarItemSubmenuItemHoverBgColor:var(--primary-lighter-color);

    --topbarItemSubmenuBgColor: lighten(--topbarBgColor, 5%);
    --topbarItemSubmenuTextColor:rgba(41, 50, 65, 0.8);
    --topbarItemSubmenuSecondaryTextColor: rgba(41, 50, 65, 0.5);
    --topbarItemSubmenuBoxShadow: 0 2px 8px 0 rgba(25, 26, 28, 0.12);

}
