<div class="layout-topbar">
    <div class="topbar-start">
        <button #menubutton type="button" class="topbar-menubutton p-link p-trigger" (click)="onMenuButtonClick()">
            <i class="pi pi-bars"></i>
        </button>
    </div>
    <app-sidebar></app-sidebar>
    <div class="topbar-end">
        <ul class="topbar-menu">
            <li  [class]="layoutService.isHorizontal() ?'topbar-search hidden':'topbar-search hidden sm:block'">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Search" class="w-12rem sm:w-full">
                </span>
            </li>
            <li [class]="layoutService.isHorizontal() ?'block topbar-profile':'block sm:hidden topbar-profile'">
                <a pStyleClass="@next" enterClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden"
                    leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple>
                    <i class="pi pi-search"></i>
                </a>
                <div class="ng-hidden">
                    <ul [class]="'topbar-menu active-topbar-menu surface-card p-3 w-15rem shadow-1 border-round-2xl z-5'"
                        style="bottom: -6.8rem;">
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search" class="w-full">
                        </span>
                    </ul>
                </div>
            </li>
            <li class="topbar-profile">
                <a pStyleClass="@next" enterClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden"
                    leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple>
                    <img class="border-round-xl" src="assets/demo/images/avatar/square/avatar-m-1.jpg" alt="Profile" />
                </a>
                <div class="ng-hidden">
                    <ul
                        [class]="'topbar-menu active-topbar-menu surface-card p-4 w-15rem shadow-1 border-round-2xl z-5'">
                        <li role="menuitem" class="m-0 mb-3 ">
                            <a href="#"
                                class="flex align-items-center text-900 hover:text-primary-500 transition-duration-200">
                                <i class="pi pi-fw pi-lock mr-2"></i>
                                <span>Privacy</span>
                            </a>
                        </li>
                        <li role="menuitem" class="m-0 mb-3">
                            <a href="#"
                                class="flex align-items-center text-900  hover:text-primary-500 transition-duration-200">
                                <i class="pi pi-fw pi-cog mr-2"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li role="menuitem" class="m-0">
                            <a href="#"
                                class="flex align-items-center text-900 hover:text-primary-500 transition-duration-200">
                                <i class="pi pi-fw pi-sign-out mr-2"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>


            </li>
            <li class="">
                <button pButton type="button" icon="pi pi-arrow-left"
                    class=" p-button-text p-button-secondary flex-shrink-0" (click)="onSidebarButtonClick()"></button>
            </li>
        </ul>
    </div>
</div>