$primaryLightColor: #ffc087 !default;
$primaryColor:#FF810E !default;
$primaryDarkColor: #F17606 !default;
$primaryDarkerColor: #E96404 !default;
$primaryTextColor: #FFFFFF !default;
$primaryLighterColor: rgba($primaryLightColor,.1) !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';