<div class="surface-0">
    <div class="flex align-items-center justify-content-between flex-column h-screen">
        <div class="flex flex-column align-items-center justify-content-center w-full md:w-4 h-full text-center py-6 px-4">
            <a [routerLink]="['/']" class="mb-6">
                <img src="https://cdn.dribbble.com/users/1889528/screenshots/7239609/media/9618c7e174ae3ddf8aed3322cb86008e.jpg?resize=800x600&vertical=center" alt="Image description" style="width: 300px; height: 200px;">
            </a>
            <div class="flex flex-column">
                <!-- Champ email -->
                <span class="p-input-icon-left w-full mb-4">
                    <i class="pi pi-envelope"></i>
                    <input id="email" type="email" pInputText class="w-full md:w-25rem text-color-secondary surface-50 border-200"
                        placeholder="Email" [(ngModel)]="email" name="email" required />
                </span>

                <!-- Champ mot de passe -->
                <span class="p-input-icon-left w-full mb-4">
                    <i class="pi pi-lock"></i>
                    <input id="password" type="password" pInputText class="w-full md:w-25rem text-color-secondary surface-50 border-200"
                        placeholder="Password" [(ngModel)]="password" name="password" required />
                </span>

                <!-- Bouton de soumission -->
                <button pButton pRipple label="Sign Up" class="w-full mb-4" (click)="login()"></button>
                
                <!-- Lien mot de passe oublié -->
                <a href="#" class="font-medium text-sm text-300">forget password?</a>

                <!-- Message d'inscription -->
                <p class="font-medium text-400 m-0 mt-6">Don’t you have an account, <a href="#" class="text-primary cursor-pointer">sign up</a></p>
                
                <!-- Affichage des erreurs -->
                <div *ngIf="errorMessage" class="error-message text-red-500 mt-4">
                    {{ errorMessage }}
                </div>
            </div>
        </div>
    </div>
</div>

<app-config [minimal]="true"></app-config>
