$primaryColor: #464DF2 !default;
$primaryLightColor: #a3a6f9 !default;
$primaryLighterColor: rgba($primaryLightColor,.1);
$primaryDarkColor: #221ED9 !default;
$primaryDarkerColor: #1222B9 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #F5F3FF !default;
$highlightTextColor: $primaryDarkerColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';