$primaryColor: #5297FF !default;
$primaryLightColor: #a9cbff !default;
$primaryLighterColor: rgba($primaryLightColor,.1);
$primaryDarkColor: #297FFF !default;
$primaryDarkerColor: #2170E7 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #EFF6FF !default;
$highlightTextColor: $primaryDarkerColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';