$primaryColor:#FFC940 !default;
$primaryLightColor: rgba($primaryColor,.5)  !default;
$primaryDarkColor: #FFB340 !default;
$primaryDarkerColor: #FFA928 !default;
$primaryTextColor: #293241 !default;
$primaryLighterColor: rgba($primaryLightColor,.1) !default;

$highlightBg: $primaryLighterColor !default;
$highlightTextColor: $primaryColor !default;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';